<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>Flask App - {{ pg_name }} </title>
        <!-- <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='path/to/favicon.ico') }}"> -->

        <!-- style sheets -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap/bootstrap.min.css') }}">
        <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"> -->

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Scripts -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="/static/js/bootstrap/bootstrap.min.js"></script>
        
        <!-- Style -->
        <style>
        </style>
    </head>
    <body>	

        <div class="container-fluid text-center">
            <div class="row content">
                <div class="col-sm-8 text-left">
                    <!-- child template -->
                    {% block content %}{% endblock %} <!-- Block control statement: where other templates can insert themselves -->
                </div>
            </div>
        </div>

        <!-- Main script -->
        <!-- <script type="text/javascript" src="/static/scripts/main.js"></script> -->
    </body>
</html>