{% extends "base_template.html" %} <!-- extends block establishes the inheritance link between this content and base_template -->

    {% block style %}
    {% endblock %}

    {% block content %} <!-- the linked templates have matching block statements named "content" -->

    <style></style>
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-3 col-xs-12 col-sm-12">
			</div>
			<div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
				<h1>Flask Application</h1>
			</div>
			<div class="col-lg-3 col-md-3 col-xs-12 col-sm-12">
			</div>
		</div>
	</div>
	<hr/>
	<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
					<p>COLUMN 1</p>
				</div>
				<div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
					<p>COLUMN 2</p>
				</div>
				<div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
					<p>COLUMN 3</p>
				</div>
			</div>
		</div>
    <hr/>
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
				<p>COLUMN 1</p>
			</div>
			<div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
				<p>COLUMN 2</p>
			</div>
			<div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
				<p>COLUMN 3</p>
			</div>
		</div>
	</div>

{% endblock %}